<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/auth/login.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    <!-- Header with Icons -->
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <a href="https://t.me/enaticommunity"><img class="header-icon" src="{% static 'images/telegram_icon.png' %}" alt="Icon 1"></a>
                    <a href="https://x.com/enatixyz"><img class="header-icon" src="{% static 'images/twitter_icon.png' %}" alt="Icon 2"></a>
            </div>
        </div>
    </header>

    <div class="intro">
        <div class="container">
            <header class="header_text"
            style="    width: 100%;
        position: relative;
        background-color: black;
        top: 0;
        left: 0;
        z-index: 1000;
        font-size: 40px;
        text-align: center;
        font-weight: 900"
            >
                Waiting List
            </header>
            <div class="intro__inner">
                <img style="width: 40%;height: auto" class="intro-image" src="{% static 'images/spinny.gif' %}" alt="Description of the image">
                 <header class="header_text"
            style="    width: 100%;
        position: relative;
        background-color: black;
        top: 0;
        left: 0;
        z-index: 1000;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 20px;
        text-align: center;
        font-weight: 900"
            >
                The Wait Won't Be Long
            </header>
                <a href="{% url 'enter_name' %}" >
                    <button style="width: 300px" class="intro-button">Add Group</button>
                </a>

            </div>
        </div>
   </div>

   <footer class="footer">
        <div class="container">
            <p>© 2024 Enati</p>
        </div>
    </footer>

</body>
</html>
