<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/auth/login.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    
    <div class="intro">
        <div class="container">
            <div class="intro__inner">
                <img class="start-image" src="media/start_image.jpg" alt="Start Image">
            </div>
        </div>
   </div>

</body>
</html>
