<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Podium</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jersey+10&display=swap" rel="stylesheet">
</head>
<body style="background-color: #1c1c26;color: white;font-family:'Jersey 10', sans-serif">
    <div class="_page_219kx" style=" display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;">
        <img
            id="home-mascote"
            src="{% static 'images/7lebQB8I68CrIOQGacTqafPuKF8.webp' %}"
            class="_mascote_1vo1r_60 _isRendered_1vo1r_63"
            alt="Mascote" style=" margin: 48px;
    width: 130px;
    height: auto;"
        />
        <button style=" width: 215px;
    height: 74px;
    background-color: #000;
    border: 5px solid #226af0;
    border-radius: 143px; color: rgb(255, 255, 255);
    font-size: 31px;" class="_button_0ox9 _isRendered_1vo1r_63 text_item_i7v2">
            Podium
        </button>
        <div style="display: flex; justify-content: center; height: 70vh;">
            <div class="_prizes_view" style="margin-top: 80px;display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    place-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;">
                <img src="{% static 'images/svg/2nd-prize-icon.svg' %}" class="_prize_cup" style="    width: 150px;
    height: auto;" alt="2nd Prize">
                <div style="display: flex; justify-content: center; place-items: center; text-align: center; margin: 10px; border: 4px solid #999999; width: 296px; height: 78px; padding-top: 5px; padding-bottom: 5px; padding-left: 10px; padding-right: 10px;">
                    <div class="_media_iud9y_8" style="width: 56px;
    min-width: 36px;
    height: 56px;
    margin-right: 14px;
    border-radius: 50%;
    overflow: hidden;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    background-color: #323232" style="width: 56px;
    min-width: 36px;
    height: 56px;
    margin-right: 14px;
    border-radius: 50%;
    overflow: hidden;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    background-color: #323232">
                        <img class="_avatar_iud9y_19" style="width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    margin-top: 0 !important;" style="width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    margin-top: 0 !important;"
                             src="https://ui-avatars.com/api/?name=gn&background=random&color=fff"
                             loading="lazy" alt="Avatar"/>
                    </div>
                    <div style="font-size: 31px;" class="_prize_title">GROUP NAME</div>
                </div>
                   <div style="font-weight: bold; width: 296px; height: 220px; place-content: center; border: 4px solid #999999; margin: 5px;  padding: 5px 10px;font-size: 30px;">
                    TOP CALLS Called $NBA AT 30K
                           <div style='font-size: 20px;color: rgb(87, 86, 86);margin-top: 5px'>Curent MC: 250K</div>
                </div>
                <div style="font-weight: bold; width: 296px; height: 78px; place-content: center; border: 4px solid #999999; margin: 5px;  padding: 5px 10px;font-size: 50px;">x60</div>
            </div>
            <div class="_prizes_view" style="margin-top: 20px;display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    place-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;">
                <img src="{% static 'images/svg/1st-prize-icon.svg' %}" style="    width: 150px;
    height: auto;" class="_prize_cup" alt="1st Prize">
                <div style="display: flex; justify-content: center; place-items: center; text-align: center; margin: 10px; border: 4px solid #e6af2e; width: 296px; height: 78px; padding: 5px 10px;">
                    <div class="_media_iud9y_8" style="width: 56px;
    min-width: 36px;
    height: 56px;
    margin-right: 14px;
    border-radius: 50%;
    overflow: hidden;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    background-color: #323232">
                        <img class="_avatar_iud9y_19" style="width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    margin-top: 0 !important;"
                             src="https://ui-avatars.com/api/?name=gn&background=random&color=fff"
                             loading="lazy" alt="Avatar"/>
                    </div>
                    <div style="font-size: 31px;" class="_prize_title">GROUP NAME</div>
                </div>
                 <div style="font-weight: bold; width: 296px; height: 220px; place-content: center; border: 4px solid #e6af2e; margin: 5px;  padding: 5px 10px;font-size: 30px;">
                    TOP CALLS Called $NBA AT 30K
                         <div style='font-size: 20px;color: rgb(87, 86, 86);margin-top: 5px'>Curent MC: 250K</div>
                </div>
                <div style="font-weight: bold; width: 296px; height: 78px; place-content: center; border: 4px solid #e6af2e; margin: 5px;  padding: 5px 10px;font-size: 50px;">x40</div>
            </div>
            <div class="_prizes_view" style="margin-top: 120px;display: flex;
            text-align: center;
            justify-content: center;
            flex-direction: column;
            place-content: center;
            align-items: center;
            margin-left: 50px;
            margin-right: 50px;">
                        <img src="{% static 'images/svg/3rd-prize-icon.svg' %}" style="    width: 150px;
    height: auto;" class="_prize_cup" alt="3rd Prize">
                <div style="display: flex; justify-content: center; place-items: center; text-align: center; margin: 10px; border: 4px solid #999999; width: 296px; height: 78px; padding-top: 5px; padding-bottom: 5px; padding-left: 10px; padding-right: 10px;">
                    <div class="_media_iud9y_8" style="width: 56px;
                        min-width: 36px;
                        height: 56px;
                        margin-right: 14px;
                        border-radius: 50%;
                        overflow: hidden;
                        -webkit-flex-shrink: 0;
                        flex-shrink: 0;
                        background-color: #323232">
                        <img class="_avatar_iud9y_19" style="width: 100%;
                        height: 100%;
                        -o-object-fit: cover;
                        object-fit: cover;
                        margin-top: 0 !important;"
                             src="https://ui-avatars.com/api/?name=gn&background=random&color=fff"
                             loading="lazy" alt="Avatar"/>
                    </div>
                    <div style="font-size: 31px;" class="_prize_title">GROUP NAME</div>
                </div>
                <div style="font-weight: bold; width: 296px; height: 220px; place-content: center; border: 4px solid #999999; margin: 5px;  padding: 5px 10px;font-size: 30px;">
                    TOP CALLS Called $NBA AT 30K
                    <div style='font-size: 20px;color: rgb(87, 86, 86);margin-top: 5px'>Curent MC: 250K</div>
                </div>
                <div style="font-weight: bold; width: 296px; height: 78px; place-content: center; border: 4px solid #999999; margin: 5px;  padding: 5px 10px;font-size: 50px;">x20</div>
            </div>

        </div>
         <div style="font-size:40px;margin-top: 20px;background-color: #13141a;border: 4px solid #383838;border-radius: 10px;height: 336px;width: 1236px;place-content: center;text-align: center" >
            <table style="border-color: #383838;padding: 10px;border-radius: 10px;height: 336px;font-size: 36px">
                <tr style="padding: 10px">
                    <td style="">#4"Group name" Called "coin name" at 125k ————————————— x6</td>
                </tr>
                <tr style="">
                    <td style="">#4"Group name" Called "coin name" at 125k ————————————— x6</td>
                </tr>
                <tr style="">
                    <td style=" ">#4"Group name" Called "coin name" at 125k ————————————— x6</td>
                </tr>
                <tr style="">
                    <td style="">#4"Group name" Called "coin name" at 125k ————————————— x6</td>
                </tr>
                <tr style=";">
                    <td style=" ">#4"Group name" Called "coin name" at 125k ————————————— x6</td>
                </tr>
            </table>
        </div>
          <button style=" width: 215px; margin: 40px; font-family: 'Jersey 10', sans-serif;
    height: 74px;
    background-color: #000;
    border: 5px solid #226af0;
    border-radius: 143px; color: rgb(255, 255, 255);
    font-size: 31px;" class="_button_0ox9 _isRendered_1vo1r_63 text_item_i7v2">
            KING OF CALLS
        </button>
         <div style="margin-top: 20px;background-color: #13141a;border-color: #383838;border-radius: 10px;height: 336px;width: 1236px;place-content: center;text-align: center" >
            <table style="border-color: #383838;border-radius: 10px;height: 336px;font-size: 36px">
                <tr style="">
                    <td style="padding: 10px; text-align: center; font-size: 20px;">#4"Group name" Called "coin name" at 125k ————————————— x6</td>
                </tr>
                <tr style="">
                    <td style="padding: 10px; text-align: center; font-size: 20px;">#4"Group name" Called "coin name" at 125k ————————————— x6</td>
                </tr>
                <tr style="">
                    <td style="padding: 10px; text-align: center; font-size: 20px;">#4"Group name" Called "coin name" at 125k ————————————— x6</td>
                </tr>
                <tr style="">
                    <td style="padding: 10px; text-align: center; font-size: 20px;">#4"Group name" Called "coin name" at 125k ————————————— x6</td>
                </tr>
                <tr style=";">
                    <td style="padding: 10px; text-align: center; font-size: 20px;">#4"Group name" Called "coin name" at 125k ————————————— x6</td>
                </tr>
            </table>
        </div>
        <button style=" width: 215px; margin: 40px; font-family: 'Jersey 10', sans-serif;
    height: 74px;
    background-color: #000;
    border: 5px solid #226af0;
    border-radius: 143px; color: rgb(255, 255, 255);
    font-size: 31px;" class="_button_0ox9 _isRendered_1vo1r_63 text_item_i7v2">
            SHOW MORE
        </button>
    </div>
</body>
</html>
